#game-div {
    margin: auto;
    height: 100%;
    width: 60%;
    display: flex;

    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;

    font-size: 0;
}

.new-game-menu {
    margin: auto;
    height: 100%;
    width: 60%;

    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;

    font-size: 1em;
}

.new-game-button {
    background-color: cornflowerblue;

    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

    padding: 10px;
    margin: auto;
    border-color: black;
}

/* All the stuff goes in here */
.info-pane-main-div {
    width: 100%;

    font-size: 16px;
}

.collapsible-div {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

    padding: 10px;

    font-size: 1em;

    border-color: black;
}

.collapse-button {
}

.collapse-button-collapsed {
}

.collapse-button-expanded {
}

.collapsible-title-row {
    display: flex;
}

.collapsible-title {
    font-weight: bold;
    margin-left: 5px;
}

.health-view {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

    padding: 10px;

    font-size: 1em;

    border-color: black;

    background-color: darksalmon;
}

.launch-wave-div {
    display: flex;

    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

    padding: 10px;

    border-color: black;
}

.launch-wave-div > * {
    margin-left: 10px;
}

.launch-wave-div > *:first-child {
    margin-left: 0px;
}

.vert-center {
    margin-top: auto;
    margin-bottom: auto;
}

.launch-wave-div-enabled {
    background-color: cornflowerblue;
}

.launch-wave-div-disabled {
    color: palegoldenrod;
    background-color: gray;
}

/* Child objects of info-pane-main-div */
.info-pane {
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

    padding: 10px;

    font-size: 1em;
}

.build-button {
    border-style: solid;
    border-width: 1px;
    border-color: darkblue;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 0;
}

.build-button-enabled {
    background-color: cornflowerblue;
}

.build-button-disabled {
    color: palegoldenrod;
    background-color: gray;
}

#td-canvas {
    width: 500px;
    height: 500px;
}

canvas:focus {
    outline: none;
}

.tower-defense-div {

    height: 100%;
    width: 80%;

    margin: 5px;

    border-style: solid;
    border-color: burlywood;
    border-width: 5px;

    /*
    This is needed so no visual space exists between "rows"
    If you need rendered text at some point in a child cell you will need to undo this in the child cell.
     */
    font-size: 0;
}

.td-tile-row {
    display: inline-block;

    padding: 0;
}

.tile {
    display: inline-block;

    width: 20px;
    height: 20px;

    border-style: solid;
    border-width: 1px;
}

.tile-open {
    background-color: burlywood;
}

.tile-wall {
    background-color: darkslategrey;
}